language: php
env:
  - BML_TESTS="05_a 05_c"
  - BML_TESTS="05_b"
  - BML_TESTS="01 03 04 06 07"
  - BML_TESTS="08 09 10 11 12 36_a"
  - BML_TESTS="32_a 32_b 36_b"
  - BML_TESTS="13 14 15 16 17 18 19 20"
  - BML_TESTS="21 22 24 25 26 27 28 29 30 31"
  - BML_TESTS="23 38"
  - BML_TESTS="36_c"
script:
  - composer update
  - cd tests
  - export TESTS=$(for t in $BML_TESTS; do ls *$t*.php;done|paste -sd " ")
  - echo $TESTS
  - for t in $TESTS; do travis_wait 30 phpunit --debug $t;done
